<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form>
            <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="h3 mb-3 fw-normal text-light">Inicio de Sesión</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="nombre@mail.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
        </form>
        <hr>
        <h6 class="text-secondary"> ¿No estás registrado? </h6>
        <button class="w-100 btn btn-lg btn-secondary" type="submit">Registro</button>
    </main>
</body>